{{!-- Blog Post --}}
<section class="container my-5 ">
    <section id="header-card" class="col-12 card post-card">
        <section class="header-stripe bg-gradient">
            <h2>{{post.title}}</h2>
        </section>
        <div class="blog-text">
            <p class="two-columns">
                {{post.description}}
            </p>
        </div>
    </section>
</section>

{{!-- Update Post --}}
<div class="container my-5">
    <div id="create-card" class="col-9 card dashboard-card mx-auto">
        <div class="create-stripe">
            <h3>Update Blog Post:</h3>
        </div>
        <form class="form new-post-form">
            <div class="form-group">
                <label for="post-name">Title:</label>
                <input class="form-input" type="text" id="update-post-name" name="update-post-name"
                    placeholder={{post.title}}>
            </div>
            <div class="form-group">
                <label for="post-content">Description:</label>
                <textarea class="form-input" id="update-post-desc"
                    name="update-post-desc">{{post.description}}</textarea>
            </div>
            <div class="form-group">
                <button type="submit" id="submit" class="btn btn-primary" data-id={{post.id}}>Update</button>
            </div>
        </form>
    </div>
</div>


<script src="/js/editPost.js"></script>
<script src="/js/comment.js"></script>