{{!-- Blog Post --}}
<section class="container my-5 ">
    <section id="header-card" class="col-12 card post-card">
        <section class="header-stripe bg-gradient">
            <h2>{{updatePost.title}}</h2>
        </section>
        <div class="blog-text">
            <p class="two-columns">
                {{updatePost.description}}
            </p>
        </div>
    </section>
</section>

<section>
    {{#each comments as |comment| }}

    <div class="card">
        <div class="card-body">
            {{comment.comment}} - {{user.name}}
        </div>
    </div>
    {{/each}}
</section>

{{!-- Update Post --}}
<div class="container my-5">
    <div id="update-post-card" class="col-9 card dashboard-card mx-auto">
        <div class="create-stripe">
            <h3>Update Post:</h3>
        </div>
        <form class="form new-post-form">
            <div class="form-group">
                <label for="post-name">Title:</label>
                <input class="form-control" type="text" id="update-post-title" name="update-post-title"
                    placeholder={{updatePost.title}}>
            </div>
            <div class="form-group">
                <label for="post-content">Description:</label>
                <textarea class="form-control" id="update-post-desc"
                    name="update-post-desc">{{updatePost.description}}</textarea>
            </div>
            <hr>
            <div class="form-group">
                <button type="submit" id="submit" class="btn btn-primary" data-id={{updatePost.id}}>Update</button>
            </div>
        </form>
    </div>
</div>


<script src="/js/editPost.js"></script>
{{!--
<script src="/js/comment.js"></script> --}}