{{!-- View Post content (/api/post/{id}) --}}
<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>

<hr>

{{!-- FIXME: if logged in for delete button only not working --}}
<section>
  {{#if logged_in}}
  {{#each comments as |comment| }}
  <div class="card d-flex">
    <div class="row card-body">
      <div class="col-8">{{comment.comment}} - {{user.name}}</div>
      <div class="col-4">
        <button id="comment-del" type="button" class="btn btn-sm btn-danger comment-delBtn float-end"
          data-id="{{comment.id}}">X</button>
      </div>
    </div>
  </div>
  {{/each}}
  {{else}}
  {{#each comments as |comment| }}
  <div class="card d-flex">
    <div class="row card-body">
      <div class="col-12">{{comment.comment}} - {{user.name}} on {{format_date comment.date}}</div>
    </div>
  </div>
  {{/each}}
  {{/if}}
</section>

<hr>

{{#if logged_in}}
<div class="container-fluid">
  <form class="d-flex">
    <input class="form-control me-2" id="comment-content" name="comment-content" placeholder="Leave a comment"></input>
    <div class="form-group">
      <button type="submit" id="submit" class="btn btn-secondary">Submit</button>
    </div>
  </form>
</div>
{{else}}
<div class="note">
  <div class="card-body">
    To leave a comment, please <a href="/login">login or sign up.</href>
  </div>
</div>
{{/if}}

<script src="/js/comment.js"></script>